/***********************订单样式属性***********************/
#Orders .Process {background: url(../images/Process.png) no-repeat left -180px;height: 180px;width: 1200px;}
#Orders .Orders_style{ padding:20px;}
#Orders .Orders_style .address{}
#Orders .Orders_style .address .title{ height:40px; line-height:40px; border-bottom:dashed 1px #ddd; font-size:16px}
#Orders .Orders_style .address .adderss_list .title_name{ font-size:14px;  line-height:40px; text-align:center; height:40px; background:#EEE}
#Orders .Orders_style .address .adderss_list .title_name a{ float:right; padding-right:10px; color:#C00}
.address .adderss_list .list{ margin:0 auto; width:1200px;}
.address .adderss_list .list  ul{float:left;  width:360px; margin:13px; position:relative}
.address .user_address{ position:relative;cursor: pointer; width:320px ; padding:20px;background: url("../images/xf_bg.png") no-repeat; height:180px; z-index:-1}
.address .adderss_list .list ul.active{height:220px; width:360px; background:url("../images/confirm.png") no-repeat;}
.address .adderss_list .list .user_address li{ font-size:14px; line-height:30px;}
.address .adderss_list .list ul .adderss_operating{ display:none}
.address .adderss_list .list ul .default{ 
	position:absolute; 
	background:url(../images/bg.png) repeat; 
	height:30px; 
	width:100px; 
	top:0px; 
	left:0px; 
	color:#FFF; 
	text-align:center; 
	line-height:30px;
	font-size:16px
}
.address .adderss_list .list ul.hover .adderss_operating{ display:block; background:url(../images/bg.png); width:360px; height:220px; position:absolute;top:0px; left:0px;}
.address .adderss_list .list ul.hover .adderss_operating .delete_btn{ background:url(../images/button_icon.png)  no-repeat; height:50px; width:45px; display:block; float:left; margin-right:30px}
.address .adderss_list .list ul.hover .adderss_operating .modify_btn{ background:url(../images/button_icon.png) -45px 0px no-repeat ; height:50px; width:45px; display:block; float:left}
.address .adderss_list .list ul.hover .adderss_operating .Operate{ margin:0 auto; width:130px; height:50px; margin-top:80px;}
.address .adderss_list .list .user_address li.Postcode{ position:absolute; bottom:15px;letter-spacing:22px; text-align:center; left:25px;}
.express_delivery{ background:#ededed; padding:5px;}
.express_delivery .title_name{ border-bottom: 1px dashed #C5C5C5; height:30px; line-height:30px; text-align:center; font-size:14px}
.express_delivery .dowebok li{ float:left; margin:10px 10px; position:relative}
.express_delivery .dowebok li .description{ display:none}
.express_delivery .dowebok li.hover .description{ 
  position:absolute;
  z-index:111;
  line-height:24px;
  display:block;
  background:#FFF;
  border:1px solid #ededed;
  top:40px;
  width:250px; 
  padding:10px; 
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  box-shadow:0px 0px 6px 2px #999
}
.express_delivery .dowebok li.hover .description .Note{ color:#F30; font-size:16px}
.express_delivery .dowebok li.hover .description .arrow{ background:url(../images/button_icon.png) left -99px; position:absolute; z-index:22; display:block; top:-7px; height:10px; width:15px;}
/******************************地址样式属性*****************************/
.Shipping_address{ border-left:1px solid #ddd; border-right:1px solid #ddd;border-bottom:1px solid #ddd; margin-bottom:20px;}
.Shipping_address li{ width:50%; float:left; border-top:1px solid #ddd; border-left:1px solid #ddd; height:40px; line-height:40px; margin-left:-1px;}
.Shipping_address li label{ background:#ededed; width:70px; display:block; float:left; padding:0px 10px; border-right:1px solid #ddd}
.Shipping_address li span{ display:block; font-size:14px; float:left; padding:0px 10px;}
/***********付款方式**********/
.payment{ margin:20px 0px;}
.payment .title_name{ font-size:14px; border-bottom:1px dashed #ddd; line-height:30px; height:30px;}
.payment ul li{ float:left; padding:10px 15px;}
.payment input.labelauty + label{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	position:relative;
}
.payment input.labelauty + label > span.labelauty-checked-image{ background:url(../images/Complex_img.png) no-repeat -283px -64px; width:18px; height:15px; position:absolute; bottom:0px; right:-1px;}
.payment input.labelauty:checked + label{background-color: #fff;color: #e4393c; border: 2px solid #e4393c; padding:9px; }
.payment input.labelauty:checked:not([disabled]) + label:hover {background-color: #fff;}
.payment input.labelauty + label > span.labelauty-unchecked-image{ display:none}
.payment input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked {margin-left: 0px;}
.payment input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {margin-left: 0px;}
/*********产品列表样式属性*******/
.Product_List{ padding:10px 0px; border-top:1px solid #ddd;}
.Product_List table{ width:100%; border:1px solid #ddd}
.Product_List table thead .title{ background:#ededed; height:40px; line-height:40px; text-align:center; font-size:16px}
.Product_List table thead .title .name{ width:600px}
.Product_List table tbody tr{ border-bottom:1px dotted #ddd}
.Product_List table tbody td{ padding:10px; text-align:center; font-size:16px}
.Product_List table tbody td  img{ border:1px solid #ddd; padding:1px;}
.Product_List table tbody td i{font-size:12px;}
.Product_List table tbody td.Moneys{ color:#C00}
.Product_List table tbody td.Product_info{ text-align:left}
.Product_List table tbody td.Product_info a.product_name{ width:300px;}
.Product_List table tbody td.Product_info a{ float:left; display:block; margin-right:10px; color:#333; font-size:14px}
.Product_List .Pay_info{ margin:10px 0px;}
.Product_List .Pay_info .text_name
{
	border:1px solid #ddd; 
	width:500px; 
	margin:0px 5px;
	padding:5px;
	min-height:18px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.Product_List .envelopes{ margin:10px 0px;}
.Product_List .envelopes .text_number
{
	width:250px;
	margin:0px 5px;
	padding:5px;
	border:1px solid #ddd;
	min-height:18px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.Product_List .envelopes .verification_btn
{
	color:#FFF; 
	background:#E94027;
	min-height:18px;
	border:1px solid #E94027;
	padding:4px 10px;
	border-radius: 3px ;
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
	cursor:pointer	
}
.Product_List  .price_style .right_direction{ float:right; width:400px;}
.Product_List  .price_style ul{ width:200px; float:right; line-height:30px; font-size:14px}
.Product_List  .price_style ul span{ color:#F00; font-size:16px}
.Product_List  .price_style ul i{ font-size:12px; color:#F00}
.Product_List  .price_style ul label{ margin-right:10px;}
.Product_List  .price_style ul .shiji_price span{ font-size:18px; font-weight:bold}
.Product_List  .price_style  .btn{ float:right; margin:10px 0px; font-size:18px}
.Product_List  .price_style .integral span{ color:#F00; font-size:14px}
.Product_List  .price_style  .btn input{ background:url(../images/Button_img.png) no-repeat; width:152px; height:36px; border:0px; float:left; color:#FFF; margin-left:20px; cursor:pointer}
.Product_List  .price_style  .btn input.submit_btn{ background-position: left -75px;}
.Product_List  .price_style  .btn input.submit_btn:hover{background-position: -151px  -75px;}
.Product_List  .price_style  .btn input.return_btn{background-position: left -112px;}
.Product_List  .price_style  .btn input.return_btn:hover{background-position:  -151px -112px;}
/****发票样式属性**/
.invoice_style{ margin:20px 0px; padding:10px; border:1px solid #ddd}
.invoice_style li.invoice_left{ float:left; margin:0px 10px;}
.invoice_style li.invoice_left input.labelauty + label{ padding:6px 10px;}
.invoice_style li.invoice_left .SumoSelect{ top:0px;}
.invoice_style li.invoice_left .SlectBox{ width:100px;}
.invoice_style li.invoice_left .text_info
{
	border:1px solid #ddd; 
	width:200px; 
	margin:0px 5px;
	padding:5px;
	min-height:18px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
/******************按钮选择样式属性******************/
input.labelauty + label ::selection { background-color: rgba(255, 255, 255, 0); }
input.labelauty + label ::-moz-selection { background-color: rgba(255, 255, 255, 0); }
input.labelauty { display: none !important; }
input.labelauty + label
{
	display: table;
	font-size: 14px;
	border:1px solid #ddd;
	padding: 10px;
	background-color:#FFF;
	cursor: pointer;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
input.labelauty + label > span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked
{
	display: inline-block;
	line-height: 16px;
	vertical-align: bottom;
}
input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image
{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: left center;
	transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-webkit-transition: background-image 0.5s linear;
	-o-transition: background-image 0.5s linear;
}
input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked{margin-left: 7px;}
input.labelauty:not(:checked):not([disabled]) + label:hover{background-color: #fff;color: #a7a7a7;}
input.labelauty:not(:checked) + label > span.labelauty-checked-image{display: none;}
input.labelauty:not(:checked) + label > span.labelauty-checked{display: none;}
input.labelauty:checked + label{background-color: #3498db;color: #ffffff; border:1px solid #3498db }
input.labelauty:checked:not([disabled]) + label:hover{background-color: #72c5fd;}
input.labelauty:checked + label > span.labelauty-unchecked-image{display: none;}
input.labelauty:checked + label > span.labelauty-unchecked{display: none;}
input.labelauty:checked + label > span.labelauty-checked{display: inline-block;}
input.labelauty.no-label:checked + label > span.labelauty-checked{display: block;}
input.labelauty[disabled] + label{opacity: 0.5;}
input.labelauty + label > span.labelauty-unchecked-image{background-image: url( ../images/iconfont-kuaidi.png );}
.invoice_style input.labelauty + label > span.labelauty-unchecked-image{background-image: url( ../images/input-checked-hui.png );}
.payment input.labelauty + label > span.labelauty-unchecked-image{background-image: url( ../images/iconfont-zhifuicon2.png );}
input.labelauty + label > span.labelauty-checked-image{background-image: url( ../images/input-checked.png );}
/*****************下拉框样式属性*****************/
.SlectBox, .SlectBoxa { width: 150px; padding: 5px; }
.SumoSelect > .optWrapper > .options > li { -moz-transition: 200ms ease; -webkit-transition: 200ms ease; transition: 200ms ease; }
.SumoSelect > .optWrapper > .options > li label, 
.SumoSelect > .CaptionCont { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.SumoSelect { display: inline-block; position: relative; top:4px; margin:0px 5px; }
.SumoSelect > .CaptionCont {	
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	position: relative; 
	border: 1px solid #ddd; 
	min-height: 18px; 
	background-color: #fff; 
}
.SumoSelect > .CaptionCont > span { display: block; padding-right: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.SumoSelect > .CaptionCont > span.placeholder { color: #ccc; }
.SumoSelect > .CaptionCont > label { position: absolute; top: 0px; right: 0px; bottom: 0px; width: 30px; background-color: #ddd; }
.SumoSelect > .CaptionCont > label > i { 
	background-image: url('../images/iconfont-jiantou.png'); 
	background-position: center center; 
	width: 16px;
	height: 16px; 
	display: block; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	margin: auto; 
}
.SumoSelect > .optWrapper {
	top: 30px; 
	width: 100%; 
	position: absolute; 
	left: 0; 
	opacity: 0; 
	visibility: hidden; 
	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out; 
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out; 
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out; 
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	z-index: -100; 
	background: #fff;
	border: 1px solid #ddd; 
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11); 
	border-radius: 3px; 
}
.SumoSelect > .optWrapper.open { visibility: visible; opacity: 1; z-index: 1000; }
.SumoSelect > .optWrapper > .options { list-style: none; display: block; padding: 0px; margin: 0px; overflow: auto; border-radius: 3px; max-height: 250px; }
.SumoSelect > .optWrapper.isFloating > .options { max-height: 100%; }
.SumoSelect > .optWrapper > .options > li { padding:6px; border-bottom: 1px solid #F3F3F3; position: relative; }
.SumoSelect > .optWrapper > .options > li:first-child { border-radius: 3px 3px 0px 0px; }
.SumoSelect > .optWrapper > .options > li:last-child { border-bottom: none; border-radius: 0px 0px 3px 3px; }
.SumoSelect > .optWrapper > .options > li:hover { background-color: #CBD0FF; }
.SumoSelect > .optWrapper > .options > li label { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.SumoSelect > .optWrapper > .options > li span { display: none; }
.SumoSelect > .optWrapper.isFloating { position: fixed; top: 0px; left: 0px; right: 0px; width: 90%; bottom: 0px; margin: auto; max-height: 90%; }
.SumoSelect:hover > .CaptionCont > label { background-color: #F1F1F1; }
.SumoSelect > .optWrapper > .options > li.disabled { background-color: inherit; }
.SumoSelect > .optWrapper > .options > li.disabled * 
{ 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */ 
	filter: alpha(opacity=50); /* Netscape */
	-moz-opacity: 0.5; /* Safari 1.x */
	-khtml-opacity: 0.5; /* Good browsers */ 
	opacity: 0.5; 
}

