<div class="left_style">
    <div class="user_Records">
        <div class="title_name">用户浏览记录</div>
        <ul>
            <li>
                <a href="#">
                    <p><img src="/Products/4.jpg" data-bd-imgshare-binded="1"></p>
                    <p class="p_name">SanmiuSunflower新苗向日葵 乳酪夹心饼干 270g 菲律宾进口</p>
                </a>
                <p><span class="p_Price">￥5.30</span><b>10.4</b></p>
            </li>
            <li>
                <a href="#">
                    <p><img src="/Products/5.jpg" data-bd-imgshare-binded="1"></p>
                    <p class="p_name">商品名称</p>
                </a>
                <p><span class="p_Price">￥5.30</span><b>10.4</b></p>
            </li>
            <li>
                <a href="#">
                    <p><img src="/Products/3.jpg" data-bd-imgshare-binded="1"></p>
                    <p class="p_name">商品名称</p>
                </a>
                <p><span class="p_Price">￥5.30</span><b>10.4</b></p>
            </li>
        </ul>
    </div>
</div>