<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/plugins/layui/js/search.js"></script>
</head>
<div id="header_top" th:fragment="nav">
    <div id="top">
        <div class="Inside_pages">
            <div class="Collection">下午好，欢迎光临FXSHOP商城！<em></em><a href="#">收藏我们</a></div>
            <div class="hd_top_manu clearfix">
                <ul class="clearfix">
                    <li class="hd_menu_tit zhuce" data-addclass="hd_menu_hover">欢迎光临本店！

                        <span th:if="${#session.getAttribute('user')} != null ">
                            <a href="#" class="red" th:text="${#session.getAttribute('user').username}"></a>
                        </span>
                        <span th:if="${#session.getAttribute('user')} == null ">
                            <a href="http://127.0.0.1:8000/fxshop/login" class="red">[请登录]</a>
                            新用户
                            <a href="#" class="red">[免费注册]</a>
                        </span>

                    </li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover"><a href="#">我的订单</a></li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover"> <a href="#">购物车(<b>0</b>)</a> </li>
                    <li class="hd_menu_tit" data-addclass="hd_menu_hover"><a href="#">联系我们</a></li>
                    <li class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#" class="hd_menu">客户服务</a>
                        <div class="hd_menu_list">
                            <ul>
                                <li><a href="#">常见问题</a></li>
                                <li><a href="#">在线退换货</a></li>
                                <li><a href="#">在线投诉</a></li>
                                <li><a href="#">配送范围</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hd_menu_tit phone_c" data-addclass="hd_menu_hover"><a href="#" class="hd_menu "><em class="iconfont icon-phone"></em>手机版</a>
                        <div class="hd_menu_list erweima">
                            <ul>
                                <img src="/images/erweima.png"  width="100px" height="100"/>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--样式-->
    <!--顶部样式2-->
    <div id="header "  class="header page_style">
        <div class="logo"><a href="#"><img src="/images/logo.png" /></a></div>
        <!--可修改图层-->
        <div class="festival"><a href="#"><img src="/images/logo_yd.png" /></a></div>
        <!--结束图层-->
        <div class="Search">
            <p><input name="" th:value="${key}"  type="text" id="search_text" class="text"/><input name="" type="submit" value="搜 索"  class="Search_btn" id="Search_btn"/></p>
            <p class="Words"><a href="#">苹果</a><a href="#">香蕉</a><a href="#">菠萝</a><a href="#">西红柿</a><a href="#">橙子</a><a href="#">苹果</a></p>
        </div>
        <!--可修改图层2-->
        <!--<div class="festival1"><a href="#"><img src="images/logo_sd.png" /></a></div>--><!--结束-->
        <!--购物车样式-->
        <div class="hd_Shopping_list" id="Shopping_list">
            <div class="s_cart"><em></em><a href="#">我的购物车</a> <i class="ci-right">&gt;</i><i class="ci-count" id="shopping-amount">0</i></div>
            <div class="dorpdown-layer">
                <div class="spacer"></div>
                <!--<div class="prompt"></div><div class="nogoods"><b></b>购物车中还没有商品，赶紧选购吧！</div>-->
                <ul class="p_s_list">
                    <li>
                        <div class="img"><img src="/images/tianma.png"></div>
                        <div class="content"><p><a href="#">产品名称</a></p><p>颜色分类:紫花8255尺码:XL</p></div>
                        <div class="Operations">
                            <p class="Price">￥55.00</p>
                            <p><a href="#">删除</a></p></div>
                    </li>
                </ul>
                <div class="Shopping_style">
                    <div class="p-total">共<b>1</b>件商品　共计<strong>￥ 515.00</strong></div>
                    <a href="#" title="去购物车结算" id="btn-payforgoods" class="Shopping">去购物车结算</a>
                </div>
            </div>
        </div>
    </div>
    <!--菜单导航样式-->
    <div id="Menu" class="clearfix">
        <div class="Inside_pages">
            <div id="allSortOuterbox" class="display">
                <div class="t_menu_img"></div>
                <div class="Category"><a href="#"><em></em>所有产品分类</a></div>
                <div class="hd_allsort_out_box_new">
                    <!--左侧栏目开始-->
                    <ul class="Menu_list">
                        <li class="name">
                            <div class="Menu_name"><a href="product_list.html" >男装女装</a> <span>&lt;</span></div>
                            <div class="link_name">
                                <p><a href="#">茅台</a>  <a href="#">五粮液</a>  <a href="#">郎酒</a>  <a  href="#">剑南春</a></p>
                                <p><a href="#">酱香型</a>  <a href="#">四川</a>  <a href="#">贵州</a>  <a  href="#">养生酒</a></p>
                            </div>
                            <div class="menv_Detail">
                                <div class="cat_pannel clearfix">
                                    <div class="hd_sort_list">
                                        <dl class="clearfix" data-tpc="1">
                                            <dt>白酒</dt>
                                            <dd><a href="#">酱香型</a></dd>
                                            <dd><a href="#">浓香型</a></dd>
                                            <dd><a href="#">清香型</a></dd>
                                            <dd><a href="#">绵柔香型</a></dd>
                                            <dd><a href="#">老白干香型</a></dd>
                                            <dd><a href="#">凤香型</a></dd>
                                            <dd><a href="#">馥香型</a></dd>
                                            <dd><a href="#">米香型</a></dd>
                                            <dd><a href="#">青稞清香型</a></dd>
                                            <dd><a href="#">董香型</a></dd>
                                            <dd><a href="#">特香型</a></dd>
                                            <dd><a href="#">芝麻香型</a></dd>
                                        </dl>
                                        <dl class="clearfix" data-tpc="2">
                                            <dt>葡萄酒</dt>
                                            <dd><a href="#">酱香型</a></dd>
                                            <dd><a href="#">浓香型</a></dd>
                                            <dd><a href="#">清香型</a></dd>
                                            <dd><a href="#">绵柔香型</a></dd>
                                            <dd><a href="#">老白干香型</a></dd>
                                            <dd><a href="#">凤香型</a></dd>
                                            <dd><a href="#">馥香型</a></dd>
                                            <dd><a href="#">米香型</a></dd>
                                            <dd><a href="#">青稞清香型</a></dd>
                                            <dd><a href="#">董香型</a></dd>
                                            <dd><a href="#">特香型</a></dd>
                                            <dd><a href="#">芝麻香型</a></dd>
                                        </dl>
                                        <dl class="clearfix" data-tpc="3">
                                            <dt>洋酒</dt>
                                            <dd><a href="#">酱香型</a></dd>
                                            <dd><a href="#">浓香型</a></dd>
                                            <dd><a href="#">清香型</a></dd>
                                            <dd><a href="#">绵柔香型</a></dd>
                                            <dd><a href="#">老白干香型</a></dd>
                                            <dd><a href="#">凤香型</a></dd>
                                            <dd><a href="#">馥香型</a></dd>
                                            <dd><a href="#">米香型</a></dd>
                                            <dd><a href="#">青稞清香型</a></dd>
                                            <dd><a href="#">董香型</a></dd>
                                            <dd><a href="#">特香型</a></dd>
                                            <dd><a href="#">芝麻香型</a></dd>
                                        </dl>
                                        <dl class="clearfix" data-tpc="4">
                                            <dt>啤酒/养生酒</dt>
                                            <dd><a href="#">酱香型</a></dd>
                                            <dd><a href="#">浓香型</a></dd>
                                            <dd><a href="#">清香型</a></dd>
                                            <dd><a href="#">绵柔香型</a></dd>
                                            <dd><a href="#">老白干香型</a></dd>
                                            <dd><a href="#">凤香型</a></dd>
                                            <dd><a href="#">馥香型</a></dd>
                                            <dd><a href="#">米香型</a></dd>
                                            <dd><a href="#">青稞清香型</a></dd>
                                            <dd><a href="#">董香型</a></dd>
                                            <dd><a href="#">特香型</a></dd>
                                            <dd><a href="#">芝麻香型</a></dd>
                                        </dl>
                                    </div><div class="Brands">
                                    <a href="#"><img src="Products/p_logo_1.jpg" /></a>
                                    <a href="#"><img src="Products/p_logo_2.jpg" /></a>
                                    <a href="#"><img src="Products/p_logo_3.jpg" /></a>
                                    <a href="#"><img src="Products/p_logo_4.jpg" /></a>
                                    <a href="#"><img src="Products/p_logo_5.jpg" /></a>
                                </div>
                                </div>
                                <!--品牌-->
                            </div>
                        </li>
                        <li class="name">
                            <div class="Menu_name"><a href="#" >个性护理</a><span>&lt;</span></div>
                            <div class="link_name">
                                <a href="#">饼干蛋糕</a><a href="#">糖果</a><a href="#">巧克力</a><a href="#">坚果</a>
                                <a href="#">饼干蛋糕</a><a href="#">糖果</a><a href="#">巧克力</a><a href="#">坚果</a>
                            </div>
                            <div class="menv_Detail">
                                <div class="cat_pannel clearfix">
                                </div>
                            </div>
                        </li>
                        <li class="name">
                            <div class="Menu_name"><a href="#" >鞋子箱包</a><span>&lt;</span></div>
                            <div class="link_name">
                                <a href="#">休闲零食</a><a href="#">坚果炒货</a><a href="#">饼干蛋糕</a>
                                <a href="#">饼干蛋糕</a><a href="#">糖果</a><a href="#">巧克力</a><a href="#">坚果</a>
                            </div>
                            <div class="menv_Detail">
                                <div class="cat_pannel clearfix">
                                </div>
                            </div>
                        </li>
                        <li class="name">
                            <div class="Menu_name"><a href="#" >食品保健</a><span>&lt;</span></div>
                            <div class="link_name">
                                <a href="#">休闲零食</a><a href="#">坚果炒货</a><a href="#">饼干蛋糕</a>
                                <a href="#">饼干蛋糕</a><a href="#">糖果</a><a href="#">巧克力</a><a href="#">坚果</a>
                            </div>
                            <div class="menv_Detail">
                                <div class="cat_pannel clearfix">
                                </div>
                            </div>
                        </li>
                        <li class="name">
                            <div class="Menu_name"><a href="#" >综合百货</a><span>&lt;</span></div>
                            <div class="link_name">
                                <a href="#">休闲零食</a><a href="#">坚果炒货</a><a href="#">饼干蛋糕</a>
                                <a href="#">饼干蛋糕</a><a href="#">糖果</a><a href="#">巧克力</a><a href="#">坚果</a>
                            </div>
                            <div class="menv_Detail">
                                <div class="cat_pannel clearfix">
                                </div>
                            </div>
                        </li>
                        <li class="name customize">
                            <div class="Menu_name"><a href="#" >私人定制</a><span>&lt;</span></div>
                        </li>
                    </ul>
                </div>
            </div>
            <script>$("#allSortOuterbox").slide({ titCell:".Menu_list li",mainCell:".menv_Detail",	});</script>

            <!--菜单栏-->
            <div class="Navigation" id="Navigation">
                <ul class="Navigation_name">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="#">美妆</a></li>
                    <li><a href="#">服饰</a></li>
                    <li><a href="#">产品预订</a></li>
                    <li><a href="#">积分商城</a></li>
                    <li><a href="#">礼品DIY</a></li>
                    <li><a href="#">区域合作</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="shop_cart.html">购物车</a></li>
                </ul>
            </div>
            <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
        </div>
    </div>
</div>
</html>