<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/common.css" rel="stylesheet" tyle="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/fonts/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="/css/Orders.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="/js/common_js.js" type="text/javascript"></script>
    <script src="/js/footer.js" type="text/javascript"></script>
    <script src="/js/jquery.jumpto.js" type="text/javascript"></script>
    <title>用户地址管理</title>
</head>
<script>
    $(function () {
        $(".Address_info").click(function () {
            $(".Address_info").css("border","1px solid #2B9F2B");
            $(".address_title").css("background","#2B9F2B");
            $(this).find(".address_title").eq(0).css("background","orange");
            $(this).eq(0).css("border","1px solid orange");
            $(this).attr("check","1");
        });

        $(".Add_Addresss").click(function () {
            if($("#address_form").css("display") == "block")
                $("#address_form").hide();
            else
                $("#address_form").show();
        });
    });
</script>
<body>
<div class="right_style r_user_style" th:fragment="user_address" style="width: 100%;">
    <!--地址管理-->
    <div class="user_address">
        <div class="title_name"> <span class="name">选择地址</span></div>
        <div class="Address_List clearfix">
            <!--地址类表-->
            <ul class="Address_info" style="cursor: pointer;">
                <div class="address_title"><a href="#" class="modify" title="修改信息"></a>地址信息 <a href="javascript:over('0')" class="delete "><i class="iconfont icon-close"></i></a></div>
                <li style="display: none;">id</li>
                <li>张婷婷</li>
                <li>四川成都武侯区簇景横街210号3栋1单元307号。</li>
                <li>182938596861</li>
                <li>610000</li>
            </ul>

            <!--地址类表-->
            <ul class="Address_info" style="cursor: pointer;">
                <div class="address_title"><a href="#" class="modify" title="修改信息"></a>地址信息 <a href="javascript:over('0')" class="delete "><i class="iconfont icon-close"></i></a></div>
                <li>张婷婷</li>
                <li>四川成都武侯区簇景横街210号3栋1单元307号。</li>
                <li>182938596861</li>
                <li>610000</li>
            </ul>

            <!--地址类表-->
            <ul class="Address_info" style="cursor: pointer;">
                <div class="address_title"><a href="#" class="modify" title="修改信息"></a>地址信息 <a href="javascript:over('0')" class="delete "><i class="iconfont icon-close"></i></a></div>
                <li>张婷婷</li>
                <li>四川成都武侯区簇景横街210号3栋1单元307号。</li>
                <li>182938596861</li>
                <li>610000</li>
            </ul>

        </div>
        <!--添加地址样式-->
        <script src="Threelinkage/kit.js"></script>
        <!--[if IE]>
        <script src="Threelinkage/ieFix.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30210234-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <script src="/Threelinkage/dom.js"></script>
        <script src="/Threelinkage/event.js"></script>
        <script src="/Threelinkage/math.js"></script>
        <script src="/Threelinkage/TreeDict.js"></script>
        <script src="/Threelinkage/form.js"></script>
        <script src="/Threelinkage/combobox.js"></script>
        <script src="/Threelinkage/suggestselect.js"></script>
        <script src="/Threelinkage/list.js"></script>
        <!--json data-->
        <script src="/Threelinkage/json-data.js" charset="utf-8"></script>
        <link href="/Threelinkage/linkage.css" rel="stylesheet"  type="text/css"/>

        <div class="Add_Addresss">
                <div class="title_name" style="cursor: pointer;"><i></i>添加地址</div>
            <form id="address_form" style="display: none;">
                <table>
                    <tr>
                        <td class="label_name">收货地址</td>
                        <td colspan="3" class="select">
                            <span class="select_adderss"><label> 省份 </label><select
                                    class="kitjs-form-suggestselect "></select></span>
                            <span class="select_adderss"><label> 市/县 </label><select
                                    class="kitjs-form-suggestselect "></select></span>
                            <span class="select_adderss"><label> 区/县 </label><select
                                    class="kitjs-form-suggestselect"></select></span>
                            <span class="select_adderss"><label> 详细地址 </label><input name="" type="text" class="Add-text"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label_name">收件人姓名</td>
                        <td><input name="" type="text" class="Add-text"/><i>（必填）</i></td>
                        <td class="label_name">电子邮箱</td>
                        <td><input name="" type="text" class="Add-text"/><i>（选填）</i></td>
                    </tr>
                    <tr>
                        <td class="label_name">邮&nbsp;&nbsp;编</td>
                        <td><input name="" type="text" class="Add-text"/><i>（必填）</i></td>
                        <td class="label_name">性&nbsp;&nbsp;别</td>
                        <td>
                            <label class="sex"> <input type="radio" name="RadioGroup1" value="1" id="RadioGroup1_0"
                                                       class="select"/><span>男</span></label>
                            <label class="sex"><input type="radio" name="RadioGroup1" value="2" id="RadioGroup1_1"
                                                      class="select"/><span>女</span></label><i>（选填）</i></td>
                    </tr>
                    <tr>
                        <td class="label_name">手&nbsp;&nbsp;机</td>
                        <td><input name="" type="text" class="Add-text"/><i>（必填）</i></td>
                        <td class="label_name">固定电话</td>
                        <td><input name="" type="text" class="Add-text"/><i>（选填）</i></td>
                    </tr>
                    <tr>
                        <td class="label_name"></td>
                        <td></td>
                        <td class="label_name"></td>
                        <td></td>
                    </tr>
                </table>
                <div class="address_Note"><span>注：</span>只能添加5个收货地址信息。请乎用假名填写地址，如造成损失由收货人自己承担。</div>
                <div class="btn"><input name="1" type="submit" value="添加地址" class="Add_btn"/></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>