<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/common.css" rel="stylesheet" tyle="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/fonts/iconfont.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="/js/payfor.js" type="text/javascript"></script>
<script src="/js/lrtk.js" type="text/javascript"></script>
<script src="/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="/js/common_js.js" type="text/javascript"></script>
<script src="/js/footer.js" type="text/javascript"></script>
<script src="/js/jquery.jumpto.js" type="text/javascript"></script>
<script src="/plugins/layui/js/shop_cart.js"></script>
<title>购物车</title>
</head>
<body>
 <div id="header_top">
	 <!--引入首部-->
	 <div th:replace="fxshop/common/nav"></div>
   <!--样式-->
<!--购物车样式图层-->
<div class="Inside_pages">
 <div class="shop_carts">
   <div class="Process"></div>
 <div class="Shopping_list">
  <div class="title_name">
    <ul>
	<li class="checkbox"></li>
	<li class="name">商品名称</li>
	<li class="scj">&nbsp;</li>
    <li class="scj">单价</li>
	<li class="sl">购买数量</li>
	<li class="xj">小计</li>
	<LI class="cz">操作</LI>
  </ul>
 </div>
  <div class="shopping">
  <form  method="post" action="">
 <table class="table_list">
   <tr class="tr" th:each="c : ${cart}">
   <td class="checkbox"><input name="checkitems" type="checkbox" value="" /></td>
    <td class="name">
	  <div class="img"><a th:href="@{/item/detail/}+${c.id}"><img th:src="${c.imgurl}" /></a></div>
	  <div class="p_name"><a th:href="@{/item/detail/}+${c.id}" th:text="${c.name}"></a></div>
	</td>
       <td class="scj sp"> </td>
       <td class="scj sp"><span>￥</span><span id="Original_Price_1">[[${c.price}]]</span></td>
	<td class="sl">
	    <div class="Numbers">
          <div th:text="${c.id}" style="display: none;" id="itemid"></div>
		  <a href="javascript:void(0)" class="jian">-</a>
          <input type="text" name="qty_item_" th:value="${c.cartNum}" id="qty_item_1" disabled="disabled" class="number_text">
		  <a href="javascript:void(0)" class="jia">+</a>
		 </div>
	</td>
	<td class="xj" ><span id="total_price_text" th:text="'￥'+${c.cartPrice}"></span><input type="hidden" name="total_price" id="total_price" th:value="${c.cartPrice}"></td>
	<td class="cz">
	 <p><a href="#">删除</a><P>
	 <p><a href="#">收藏该商品</a></p>
	</td>
   </tr>

 </table>
 <div class="sp_Operation clearfix">
  <div class="select-all">
  <div class="cart-checkbox"><input type="checkbox"   id="CheckedAll" name="toggle-checkboxes" class="jdcheckbox" clstag="clickcart">全选</div>
  <div class="operation"><a href="javascript:void(0);" id="send">删除选中的商品</a></div> 
    </div>    
	 <!--结算-->
	<div class="toolbar_right">
    <ul class="Price_Info">
    <li class="p_Total"><label class="text">商品总价：</label><span class="price sumPrice" id="Total_price"></span></li>
    <li class="integral">本次购物可获得<b id="total_points"></b>积分</li>
    </ul>
	<div class="btn"><a class="cartsubmit" href="Orders.html"></a><a class="continueFind" href="Orders.html"></a></div>
  </div>
  </div>
   </form>
 </div>
 </div>
 </div>
</div>
  <!--引入底部-->
  <div th:replace="fxshop/common/footer"></div>
</body>
</html>
